@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,800');
$dk-grey: #2d3234;
$charcoal: #3c4042;
$teal: #219fba;
$bkg-teal: #d6dfe4;


html, body{
	margin: 0; padding: 0;
	background: $bkg-teal;
	width: 100%;
	min-height: 100%;
	font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	@media all and (min-width: 1200px){
		background: #d6dfe4 url('../img/hero/hero-lg.jpg') no-repeat;
	}
}


/* HEADER */
#header-wrapper{
	text-align: left;
	@media all and (min-width: 750px) and (max-width: 1199px){
		background: url('../img/hero/phone.png') no-repeat;
		background-size: cover;
		height: 470px;
	}
}
h1, .h1{
	font-weight: 700;
	color: $teal;
	margin: 5px 0;
	font-size: 42px;
	line-height: 48px;
	@media all and (min-width: 1200px){
		font-size: 44px;
		line-height: 62px;
	}
	@media all and (min-width: 950px) and (max-width: 1199px){
		font-size: 44px;
		line-height: 56px;
	}
	}
.header-content{
	& h2{
		font-weight: 400;
		font-size: 23px;
		line-height: 30px;
		margin: 10px 0;
	}
	width: 90%;
	margin: 0 auto;
	padding: 50px 0;
	@media all and (min-width: 1200px){
		width: 45%;
		float: right;
		padding: 120px 90px;
	}
	@media all and (min-width: 750px) and (max-width: 1199px){
		width: 50%;
		float: right;
		padding-right: 15px;
	}
}
.header-content .logo{
	width: 95%;
	padding-bottom: 14px;
	border-bottom: 1px solid rgba(122, 138, 151, 0.5);
	@media all and (min-width: 1200px){
		width: 80%;
	}
}

.cta a{
	display: block;
	width: 216px;
	color: white;
	background: $charcoal;
	text-transform: uppercase;
	line-height: 48px;
	text-decoration: none;
	font-weight: 700;
	margin-top: 31px;
	text-align: center;
	letter-spacing: 1px;
	font-size: 16px;
	transition: all 0.3s;
	&:hover{
		background: black;
	}
}

.uTest-header-logo{
	width: 145px;
	height: 50px;
	object-fit: contain;
}

/* BODY */
#body-container{
	clear: both;
	min-height: 200px;
	margin: 0 auto;
	background: white;
	position: relative;
	border-top: 4px solid #3c4042;
	text-align: center;
	@media all and (min-width: 1200px){
		width: 80%;
	}
}
.top-snippet{
	font-size: 20px;
	line-height: 35px;
	padding: 40px 10px 0 10px;
	margin: 0 auto;
	@media all and (min-width: 1200px){
		font-size: 26px;
		padding: 40px 150px 0 150px;
	}
	@media all and (min-width: 500px) and (max-width: 1199px){
		font-size: 26px;
		padding: 40px 40px 0px 40px;
	}
	& span{
		font-weight: 700;
	}
}

/* DEVICES */
.device-row{
	text-align: center;
	margin: 60px 0;
	& .device-item{
		margin: 10px;
		vertical-align: top;
		display: inline-block;
		text-align: center;
		color: $dk-grey;
		width: 30%;
		min-width: 250px;
		@media all and (min-width: 1200px){
			width: 270px;
		}
		& img{
			display: block;
			margin: 0 auto;
		}
	}
	& h3{
		font-weight: 700;
		text-transform: uppercase;
		font-size: 16px;
	}
	& p{
		font-size: 14px;
	}
}

/* BRANDS */
.brands-row{
	background-color: #f4f7fa;
}
.brands-header{
	width: 85%;
	margin: 0 auto;
	padding: 50px 0 20px 0;
	& .line{
		display: none;
		@media all and (min-width: 750px){
			display: block;
			height: 1px;
			background: rgba(122,138,151,0.5);
			position: relative;
			top: 12.5px;
		}
	}
	& .text{
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		padding: 0px 10px;
		background: #f4f7fa;
		position: relative;
		z-index: 2;
		font-weight: 700;
	}
}
.logos-row{
	padding-bottom: 50px;
	& img{
		width: 100px;
		object-fit: contain;
		margin: 20px;
		display: inline-block;
	}
}

/* TESTIMONIALS */
.testimonials-row{
	padding-bottom: 40px;
	& .testimonial-header{
		margin-top: 50px;
		& h3{
			margin: 0;
			font-size: 26px;
			color: $charcoal;
		}
		& p{
			margin: 5px 0;
			color: #3d3d3d;
			font-size: 16px;
		}
	}
}
.quotes-row{
	margin-top: 15px;
	& .person-quote{
		display: inline-block;
		width: 30%;
		vertical-align: top;
		margin: 20px 0;
		min-width: 280px;
		& img{
			width: 56px;
			height: 56px;
			object-fit: contain;
			vertical-align: top;
			display: inline-block;
		}
		& p{
			display: inline-block;
			margin: 0 0 0 10px;
			font-weight: 600;
			font-size: 14px;
			text-align: left;
			width: 180px;
			vertical-align: top;
			& span{
				display: inline-block;
				margin: 10px 0 0 0;
				font-style: italic;
			}
		}
	}
}

.cta-row{
	background: $bkg-teal;
	padding: 60px 0;
	border-bottom: 1px solid rgba(122, 138, 151, 0.5);
	& .cta{
		margin-top: 40px;
		& a{
			margin: 0 auto;
			width: 250px;
		}
	}
}

/* FOOTER */
.footer{
	padding: 20px 0;
	background: $bkg-teal;
	& .logo{
		display: inline-block;
		@media all and (min-width: 750px){
			float: left;
			margin-left: 10px;
		}
	}
	& .copyright p{
		display: block; 
		width: 80%;
		color: #7b8a97;
		font-size: 14px;
		margin: 10px auto;
		@media all and (min-width: 750px){
			float: right;
			width: auto;
			margin-right: 10px;
		}
	}
}
.uTest-footer-logo{
	width: 100px;
	object-fit: contain;
}
.clear{
	clear: both;
}